<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>purepets</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-646051621158-ios-0346d1923005c9d0ad39e7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.646051621158-8mrtmqi04u6t4iu7ob7uq3gnt1jg2jia</string>
			</array>
		</dict>
	</array>
	<key>FIRDebugEnabled</key>
	<false/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>646051621158-8mrtmqi04u6t4iu7ob7uq3gnt1jg2jia.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
		<string>whatsapp</string>
		<string>comgooglemaps</string>
		<string>google</string>
	</array>
	<key>NSExtensionPointIdentifier</key>
	<string>com.apple.usernotifications.service</string>
	<key>NSExtensionPrincipalClass</key>
	<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	<key>NSLocalizedDescription</key>
	<string>Request</string>
	<key>UIAppFonts</key>
	<array>
		<string>Beiruti-Medium.ttf</string>
		<string>Beiruti-Black.ttf</string>
		<string>Beiruti-Bold.ttf</string>
		<string>Beiruti-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to take pet photos and capture images for listings</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is needed to select images for pet profiles and listings</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save images to your photo library</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is used to show nearby pet services and stores</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone access is needed for voice messages in chat</string>
</dict>
</plist>
